{% extends 'subscription/base.html' %}

{% block form-title-header %}
    <div id="success-page" class="hidden-div"></div>
    
{% endblock %}

{% block form-title-body %}
<h1 style="text-align:center;">Thank You</h1>
<img src="/static/images/icon-thank-you.svg" height="56px" style="display: block; margin:auto;">
<div style="text-align:center;">
    <p>You will receive an email confirming your subscription plan.</p>
    <p>Thank you for confirming your subscription! We hope you have fun using our platform.</p>
    <p>If you ever need our support, please feel free to email us at <a href="mailto:opesam42@gmail.com">opesam42@gmail.com.</a> Or visit my <a href="https://gbenga.koyeb.app">website</a></p>
</div>
{% endblock %}
